[submodule "themes/hextra"]
	path = themes/hextra
	url = https://github.com/imfing/hextra.git
[submodule "public"]
	path = public
	url = https://github.com/songyeongkim/belovedtest.github.io.git
	branch = main
